
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Work Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
   line-height: 1.5;
}
Html{
    font-family: Work Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}


body{
    background-color: #eafaf0;
}
 


/*Navigation section*/

.row-Nav{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 40px 20px;
   max-width: 1400px;
   width: 100%;
   
   margin: auto;
   
}
.navbar_inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1300px;
    width: 100%;
}



.row-Nav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
      gap: 1.5rem;  
    width: 100%;
    max-width: 800px;
}

@media screen and (max-width: 875px) {
    .row-Nav__links{
        display: none;
    }
    
}

.links__list{
list-style-type: none;
height: 50px;
}


.links__list-anchor{
    text-decoration: none;
    color: rgb(51, 144, 51);
    font-size: 16px;
    font-weight: 800;
    transition: underline 300ms;
    height: 100%;
    padding: 0 20px;
}

.links__list-anchor:hover{
    text-decoration: underline;
    color: black;
}

.links__list-anchor--signUP{
    border: 2px solid #00ad6a;
    padding: .25rem 1rem ;
    font: size 18px;
    cursor: pointer;
    transition: all 300ms;
    
}
.links__list-anchor--signUP:hover{
    opacity: 0.75;
    background-color: black;
    color: white;
    text-decoration: none;

}
.intro-page{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
    max-width: 1400px;
    margin: auto;
    padding: 0px 24px 16px 24px;
    

}
.div__inner{
    max-width: 650px;

}

.intro-page__heading{
    text-align: center;
    font-size: 50px;
    margin-bottom: 18px;
    font-weight: 800;
}

.intro-page__para{
    padding: 5px 14px;
 
}


  /*the header section*/
 
.header__inner-container{
    margin-top: 50px;
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 20px; 
    margin-left: -1rem;
    margin-right: -1rem;
    width: 100%;
}

@media screen and(max-width: 599px){
    
    .header__inner-container{
        display: flex;
        flex-direction: row;
        display: block;
    }

} 

.header__card{
    display: block;    
    padding-bottom: 12px;
    margin: 4px 0;
    margin-left: 8px;
    margin-right: 0px;
    padding: 32px;
    max-width: 356px;
}
.header__inner{
    padding: 12px;
}

.card__list-item{
    list-style-type: none;
    font-size: 18px;
}
.card__intro-recommended{
    padding: 15px  20px;
    padding-bottom:  5px;
    align-items:center
}
.card__para{
    padding: 12px 20px;
}
.card__para{
    color: green;
}




.header__recommend{
    background-color: white;
    display: block;
    border: 2px solid green;
    padding-bottom: px;
    margin: 4px 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 32px;
    max-width: 400px;
    position: relative;
    border-radius: 8px;
}
.recommend__title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #00ad6b;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    
}



.card__list-item{
    list-style-type: none;
    font-size: 18px;
}
.recommend__intro-recommended{
    padding: 15px  20px;
    padding-bottom:  5px;
    align-items:center
}

.recommend__plan-para{
    color: green;
    padding: 0px 1rem;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 1rem;
    
}
.recommend__plan{
    color: #83858a;
    font-weight: 400;
    text-align: center;
    line-height: 1;
    font-size: 24px;
    margin: 8px 0px 24px 0px;
}

.recommend__Pricing-button{
    padding-top: 0px;
    background-color: #1fe375;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 32px;
    padding: 0px 32px 12px 32px;
    cursor: pointer;
    text-align: center;
}
.recommend__grp-btn{
    display: flex;
    justify-content: center;
}



.header__business{
    display: block;
    border: 2px solid green;
    padding-bottom: px;
    margin: 4px 0;
    margin-left: 0px;
    margin-right: 0px;
    padding: 32px;
    max-width: 400px;
}
.business__inner{
    padding: 12px;
}
.business__plan-para{
    color: green;
    padding: 0px 1rem;
    font-size: 24px;
    font-weight: bold;
    margin-top: 1rem;

}

.card__list-item{
    list-style-type: none;
    font-size: 18px;
}
.business__intro-recommended{
    padding: 15px  20px;
    padding-bottom:  5px;
    align-items:center
}
.business__para{
    padding: 12px 20px;
}
.business__para{
    color: green;
}



/**Faq section*/
/*container*/
.faq-row{
   
    padding: 0 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
   
}



.faq-row__links{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 10px;
list-style-type: none;

}

@media  screen and (max-width: 799px) {
    .faq-row{
       display: flex;
       flex-direction: column;
       
    }

   
}

.links__faq{
   width: 47%;
   gap: 8rem;
    min-height: 8rem;
    margin-bottom: 24px;
}

@media screen and (max-width: 869px) {
    .links_faq{
        width: 90%;
    }
}







/**Footer section*/

.footer-container{
    background-color: black;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 0px 44px;
    margin:  80 auto;
    padding: 120px 0px;
    max-width: 1600px;
    
}
.footer__inner{
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
   
   
}
.footer__img{
    margin-bottom: 24px;
    max-width: 200px;
    width: 100%;
}

.content__butn{
    margin-top: 16px;
    background-color: #00ad6a;
    text-decoration: none;
    padding: 24px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer; 
    width: 300px;
}
.content__butn:hover{
    box-shadow: -5px 5px 0.4px lightgray;
}

.footer__content{
    display: flex;
    flex-direction: column;    
    width: 50%;
    padding: opx 16px;
    
}

.footer__links{
    width: 50%;
    display: flex;
    padding: 100px 0px;
    color: white;
    list-style-type: none;
    
   
}
.links__item{
    margin: 10px 20px;
    color: white;
     padding: 0px 12px;
    
    
}

.links__item-anchor{
    color: green;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
   
  
   
}
.links__item-anchor:hover{
    text-decoration: underline;
    color: white;
}
.links__item-head{
    margin-bottom: 20px;
    font-size: 24px;
}



